<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include('./views/nav.ejs')%>
    <h1>happy reading</h1>

    <% if(blogs.length > 0){%>
        <%  blogs.forEach(blog=>{%>
                <h2><%= blog.title %></h2>
                <p><%= blog.snippet %></p>
       <% }) %>
    <%}else{%>
         <p>there is no blog seem to appear</p>

    <%}%>
    
</body>
</html>